header {

  .bg-light-fade-gradient {
    background: linear-gradient(180deg, #f1f1f1 0%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    * {
      color: black!important;
    }
  }
  .bg-dark-fade-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 9) 0%, rgba(0, 0, 0, 0.8) 100%);
    * {
      color: white!important;
    }
    nav.navbar > ul.nav-items-right > li.dropdown, div.drop-down-items {
      background-color: #b3b3b3!important;
    }
  }

  .bg-primary {
    background: linear-gradient(rgba(0, 0, 255, 0.9), rgba(0, 0, 250, 0.9));
    a {
      color: white!important;
    }
    nav.navbar > ul.nav-items-right > li.dropdown, div.drop-down-items {
      background: linear-gradient(rgba(0, 0, 255, 0.9), rgba(0, 0, 250, 0.5));
    }
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    ul.nav-items-left {
      display: flex;
      align-items: center;
      list-style: none;

      li.nav-item {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
      a.nav-logo {
        font-size: 2rem;
        margin-right: 1rem;
      }
      li.nav-form {

        @media screen and (max-width: 862px) {
          display: none;
        }
        form {
          display: flex;
          align-items: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 0.25rem;

          .form-control {
            width: 100%;
            border: none;
            outline: none;
            padding: 0.25rem;

          }

          input[type="search"] {
            border: none;
            outline: none;
            padding: 0.25rem;
          }
        }
      }
    }
    ul.nav-items-right {
      display: flex;
      align-items: center;
      list-style: none;

      // hidden drop down
      li.dropdown {
        position: relative;
        display: none;

        @media screen and (max-width: 862px) {
          display: block;
        }
      }

      .drop-down-toggle {
        cursor: pointer;
        color: #333;
        text-decoration: none;
        font-size: 1.5rem;
      }

      &:hover .drop-down-items {
        display: flex;
        flex-direction: column;

        &:focus {
          position: absolute;
        }
      }

      .drop-down-items {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #f9f9f9;
        min-width: 120px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.8rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
          display: block;
          padding: 0.5rem;
          text-decoration: none;
          color: #333;
          font-weight: bold;

          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            background-color: #f1f1f1;
          }
        }
        form {
          display: flex;
          align-items: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 0.25rem;

          .form-control {
            width: 100%;
            border: none;
            outline: none;
            padding: 0.25rem;

          }

          input[type="search"] {
            border: none;
            outline: none;
            padding: 0.25rem;
          }
        }
      }
      // links hidden on screen width of 862px
      li.nav-item {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
        @media screen and (max-width: 862px) {
          display: none;
        }
      }

      a.nav-link {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: ease-in-out 0.3s;

        &:hover {
          color: #007bff;
          animation: left 0.3s ease-in-out;

        }

        @keyframes left {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-5px);
          }
          100% {
            transform: translateX(0);
          }
        }
        @keyframes right {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(5px);
          }
          100% {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
.footer-bg {
  background: linear-gradient(rgba(0, 0, 255, 0.9), rgba(0, 0, 250, 0.5));
  padding: 0.5rem 1rem;

  @media screen and (max-width: 992px) {
    text-align: center;
  }

  p {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 1rem;
  }
  h5 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
  }
  a {
    color: white;

    &:hover {
      font-weight: bold;
    }
  }
}